/deep/.display
  width: 100%;
  position relative;
  display flex;
  box-sizing border-box;
  flex-direction column;
  height: 100%;

  .flex
    flex 1;
    box-sizing border-box;

  .footer
    height: 80px;
    box-sizing border-box;
    border 1px solid red;
